In [1]:
import pandas as pd

# read the iris dataset which is csv format
col_names = ["sepal_length", "sepal_width", "petal_length", "petal_width", "species"]
iris = pd.read_csv("iris.data", header=None, names=col_names)
iris.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [2]:
# map iris class name to number
iris_class = {'Iris-setosa':0, 'Iris-versicolor':1, 'Iris-virginica':2}
iris['species_tag'] = [iris_class[i] for i in iris.species]
iris.tail()

,sepal_length,sepal_width,petal_length,petal_width,species,species_tag
145,6.7,3.0,5.2,2.3,Iris-virginica,2
146,6.3,2.5,5.0,1.9,Iris-virginica,2
147,6.5,3.0,5.2,2.0,Iris-virginica,2
148,6.2,3.4,5.4,2.3,Iris-virginica,2
149,5.9,3.0,5.1,1.8,Iris-virginica,2

In [3]:
#split data into attributes and target/label
iris_attrs = iris.drop(['species','species_tag'], axis=1)
iris_labels = iris.species_tag

In [4]:
print(iris_attrs)

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB

# create GaussianNB
gnb = GaussianNB()

# avg of score
avg = 0

# run 10 times
for i in range(10):
    # split data into training and testing sets
    train_data, test_data, train_label, test_label = train_test_split(iris_attrs, iris_labels,
                                                                      random_state=None, train_size=0.7)
    # fit the model on the training data
    gnb.fit(train_data, train_label)
    # see how the model preforms
    avg = avg + gnb.score(test_data, test_label)

# average accuracy
print('avg:',avg/10)

avg: 0.9733333333333334

In [7]:
# predicted label and actual label
print('predict:',gnb.predict(test_data)[0:10],'actual:',test_label.tolist()[0:10])

predict: [1 2 1 2 0 1 2 1 2 2] actual: [1, 2, 1, 2, 0, 1, 2, 1, 2, 2]